<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/home.css">
    <title>Community News</title>
</head>
<body>
    <div id="header">
        <div class="logo">Community News</div>
    </div>
    <div id="top-bar">
        <a href="/">Home</a> |
        <a href="/new">Write a new article</a> |
    </div>
    <h2 class="title"> <%= title%> </h2>
    <div class="story">
        <%= story %>
    </div>
</body>
</html>