*{
    width: 100%;
    margin: 0%;
}
#header{
    background-color: #fcf9f6;
    width:100%;
    border: #030302;
    height: 55px;
}
.logo{
    font-size: 45px;
    margin-left: 15px;
}
#top-bar{
    background-color: rgba(248, 130, 51, 0.308);
    padding: 10px;
}
#top-bar>a{
    display: inline;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #030302;
    
}
#top-bar>a:hover{
    color: blue;
}

/**Header Ends**/

#page-title{
    margin: 25px 75px;
    font-weight: 200;
}

#form-area{
    margin: 10px auto;
    width: 80%
}

#title{
    font-size: 25px;
    margin-bottom: 10px; 
}

#story{
    height: 400px;
    line-height: 25px;
}

#submit-btn{
    font-size: 20px;
}